.titleContainer {
    justify-content: center;
    align-items: center;
    text-align: center;

    .profilePicture {
        display: flex;
        margin-bottom: 0.5rem;

        @media (width >=768px) {
            justify-content: center;
            align-items: center;
            margin-bottom: 1rem;
        }

        img {
            object-fit: cover;
            border-radius: 50%;
            overflow: hidden;
        }
    }

}