.titleContainer {
    @media (width >=768) {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .profilePicture {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;

        img {
            object-fit: cover;
            border-radius: 50%;
            overflow: hidden;
        }
    }

}