/* @media (prefers-color-scheme: dark) {
    :root {
        --color--heading: #faf9f9;
        --color--heading-rgb: 240, 240, 240;
        --color--text: #BFBFBF;
        --color--text-rgb: 191, 191, 191;
        --color--background: #000;
        --color--background-rgb: 255, 255, 255;
        --color--border: #1B1B1B;
        --color--border-rgb: 27, 27, 27;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --color--heading: #2a2a2a;
        --color--heading-rgb: 42, 42, 42;
        --color--text: #5a5a5a;
        --color--text-rgb: 90, 90, 90;
        --color--background: #fff;
        --color--background-rgb: 255, 255, 255;
        --color--border: #e0e0e0;
    }

} */