// Row
.row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: max-content;
    position: relative;
    overflow: hidden;
}

// Container
.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 100%;
    max-width: calc(100% - 2rem);
    height: 100%;
    margin: 0 auto;
    padding: 0;
    gap: 0.5rem;

    @media (width >=768px) {
        max-width: calc(100% - 4rem);
        align-items: center;
        gap: 0;
    }

    @media (width >=1024px) {

        justify-content: center;
        align-items: flex-start;
        max-width: calc(100% - 7.5vw);
    }

    @media (width >=1440px) {
        max-width: calc(100% - 10vw);
    }

    // Centered
    &.centered {
        @media (width >=768px) {
            justify-content: center;
            align-items: center;

            * {
                text-align: center;
            }

            .eyebrow {
                justify-content: center;
                text-align: center;
                margin: 0 auto;
            }

            .heading,
            .content {
                align-items: center;
                text-align: center;

                .divider {
                    justify-content: center;
                    margin-left: auto;
                }

                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    margin-right: auto;
                    margin-left: auto;
                    text-align: inherit;
                }

                p {
                    margin-right: auto;
                    margin-left: auto;
                }
            }

            .buttons {
                justify-content: center;
                margin: 0 auto;
            }
        }

        @media (width >=1024px) {

            h1,
            h2 {
                max-width: 30ch;
            }

            p {
                max-width: 60ch;
                margin-right: auto;
                margin-left: auto;
            }
        }

        &.ctaCentered {

            @media (width >=1024px) {

                h1,
                h2 {
                    max-width: 30ch;
                }

                p {
                    max-width: 60ch;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
        }
    }

    // Dual Columns
    &.dualCols {
        @media (width >=768px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
            gap: 3rem;

            >div {
                flex-basis: calc(50% - 1.5rem);
            }
        }

        .contentCol {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            gap: 1.5rem;

            @media (width >=1024px) {
                gap: 2rem;
            }
        }

        &.rowReverse {
            flex-direction: column;

            @media (width >=768px) {
                flex-direction: row-reverse;
            }
        }
    }

    // Auto Columns
    &.flexAuto {
        gap: 1.5rem;

        @media (width >=768px) {
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: stretch;
            gap: 2rem 1rem;

            >div,
            >article {
                flex: 1 1 calc(50% - 1rem);
                width: 100%;
            }
        }

        @media (width >=768px) {

            >div,
            >article {
                flex: 1 1 calc(calc(100% / 3) - 1rem);
            }
        }
    }

    // Quad Columns
    &.quadCols {
        gap: 1.5rem;

        @media (width >=768px) {
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: stretch;
            gap: 2rem 1rem;

            >div,
            >article {
                flex: 1 1 calc(calc(100% / 2) - 1rem);
            }
        }

        @media (width >=1024px) {
            flex-flow: row nowrap;

            >div,
            >article {
                flex: 1 1 calc(calc(100% / 4) - 1rem);
            }
        }
    }

    // Remove padding per Class
    &.noPadding {
        @media all {
            padding: 0;
        }
    }

    &.noPaddingTop {
        @media all {
            padding-top: 0;
        }
    }

    &.noPaddingBottom {
        @media all {
            padding-bottom: 0;
        }
    }

    @media (width >=1024px) {
        &.noPaddingRight {
            padding-right: 0;
        }

        &.noPaddingLeft {
            padding-left: 0;
        }
    }
}

.contentContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 4dvh 1rem;

    @media (width >=768px) {
        padding: 4dvh 3dvw;
        gap: 0.75rem;
    }

    @media (width >=1024px) {
        padding: 4dvh 4dvw;
        gap: 1rem;
    }

    @media (width >=1280px) {
        padding: 5dvh 5dvw;
    }

    @media (width >=2560px) {
        padding: 6dvh 6dvw;
    }

    &[data-alignment="centered"] {
        @media all {
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: 0 auto;
        }
    }

    &.mobileNoPaddingTop {
        @media (width < 768px) {
            padding-top: 0;
        }
    }

    &.mobileNoPaddingBottom {
        @media (width < 768px) {
            padding-bottom: 0;
        }
    }
}

// Content container
.content,
.innerContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media (width >=768px) {
        gap: 1.5rem;
    }

    &[data-alignment="center"] {
        @media all {
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: 0 auto;

            .heading {
                justify-content: center;
                align-items: center;
                text-align: center;
                width: 100%;
                margin: 0 auto;
            }
        }
    }
}

// Heading container
.heading {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0;
    margin: 0;

    @media (width >=768px) {
        gap: 1.5rem;
    }

    @media (width >=1024px) {
        align-items: flex-start;
        text-align: left;
    }

    &.centered {
        @media all {
            justify-content: center;
            align-items: center;
            text-align: center;

            h2,
            h3,
            h4,
            h5,
            h6,
            p {
                text-align: inherit;

                @media (width >=1024px) {
                    max-width: 30ch;
                }
            }
        }
    }

    &.mobileCentered {
        @media (width <768px) {
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }

    @media (width >=1024px) {
        text-align: left;
        align-items: flex-start;
    }
}

// Buttons Container
.buttons {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 1.5rem 1rem;

    @media (width >=576px) and (width < 1024px) {
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    @media (width >=1024px) {
        gap: 2rem;
    }

    &.centered {
        justify-content: center;
    }
}

// Next Style Image fill
.imageFill {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    border-radius: var(--borderRadius);

    @media (width >=768px) and (width < 1024px) {
        aspect-ratio: 4/3;
    }

    img {
        object-fit: cover;
    }
}

.imageContain {
    aspect-ratio: 1 / 1;

    img {
        object-fit: contain;
    }
}

// Column Links
.colLink {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}