:root {
    font-size: 1rem;

    // Fonts
    --heading: var(--font-satoshi), ui-sans, sans;
    --body: var(--font-satoshi), ui-sans-serif, sans-serif;

    // Colors
    --title: #faf9f9;
    --titleRgb: 240, 240, 240;
    --text: #BFBFBF;
    --textRgb: 191, 191, 191;
    --background: #000;
    --backgroundRgb: 255, 255, 255;
    --border: #1B1B1B;
    --borderRgb: 27, 27, 27;
    --buttonBackground: #fff;
    --buttonText: #000;
    --light: #fff;
    --lightRgb: 255, 255, 255;
    --dark: #000;
    --darkRgb: 0, 0, 0;

    // Borders & Radius
    --btnRadius: 0;
    --borderRadius: 0.875rem;

    // Animations
    --ease: all 0.25s ease;
    --quickEase: all 0.125s ease;
    --cubic: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);

    // Header
    --headerHeight: 4rem;

    // Topbar
    --mobileTopbarHeight: 1.75rem;
    --desktopTopbarHeight: 2.25rem;

    // Layout
    --layoutMaxWidth: 100%;
}