.topbar {
    @media (width >=1024px) {
        background: transparent;
        position: absolute;
        z-index: 9999;
    }

    .topbarContainer {
        display: flex;
        align-items: flex-end;
        height: var(--mobileTopbarHeight);

        @media all {
            padding-top: 0;
            padding-bottom: 0;
        }

        @media (width >=1024px) {
            height: var(--desktopTopbarHeight);
            mix-blend-mode: difference;
        }
    }

    &[data-type="home"] {
        background: var(--primaryAlt);
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 0;
            height: 100%;
            background: linear-gradient(to right, var(--primaryAlt) 75%, var(--primary));
            transition: var(--ease);
            opacity: 0;
        }

        &:hover {
            &::before {
                opacity: 1;
                width: 100%;
            }
        }

        .topbarContainer {
            mix-blend-mode: unset;
            align-items: center;
            text-align: center;
            height: max-content;
            min-height: 4.5rem;

            @media (width >=1024px) {
                min-height: 5rem;
            }

            a {
                font-family: var(--heading);
                line-height: 150%;
                color: var(--light);

                @media (width >=1024px) {
                    font-size: 1rem;
                    line-height: 100%;
                }
            }

            svg {
                color: var(--lightAlt);
            }
        }
    }
}