.header {
    display: flex;
    z-index: 999;
    width: 100%;
    position: fixed;
    border-bottom: 1px solid var(--border);
    background: var(--background);

    .headerContainer {
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding-top: 1rem;
        padding-bottom: 0.5rem;
        height: var(--headerHeight);
        position: relative;

        @media (width >=1024px) {
            height: var(--headerHeight);
            gap: 1.5rem;
        }
    }
}

// Header Logo
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.25rem;
    position: absolute;
    inset: 0;
    margin: auto;
    color: var(--title);
    transition: var(--quickEase);

    &:hover {
        color: rgba(var(--titleRgb), 0.875);
    }

    &:focus,
    &:active {
        color: var(--title);
    }

    svg {
        width: auto;
        height: 100%;
    }
}

// Header Buttons
.headerActions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;

    @media (width >=1024px) {
        padding: 0 1rem;
        height: 3.5rem;
        background: var(--background);
        border: 1px solid rgba(var(--lightRgb), 0.1);
        border-radius: calc(var(--borderRadius) * 5);
    }

    .headerButtons {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        gap: 0.75rem;

        @media (width >=576px) {
            gap: 1rem;
        }

        .primaryBtn {
            padding: 0.5rem;

            @media (width >=1024px) {
                padding: 0.66rem;
            }

            >div {
                @media (width < 768px) {
                    display: none;
                }
            }

            svg {
                width: 0.875rem;
                height: 0.875rem;

                @media (width >=1024px) {
                    width: 1rem;
                    height: 1rem;
                }
            }
        }
    }
}