.footerCopyright {
    display: flex;
    flex-flow: column-reverse nowrap;
    gap: 1rem;
    width: 100%;
    font-size: 0.75rem;

    @media (width >=768px) {
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        font-size: 0.875rem;
        padding-top: 3rem;
        border-top: 1px solid rgba(var(--primaryAltRgb), 0.15);
    }

    .footerCopyrightText {
        color: rgba(var(--primaryAltRgb), 0.8);
    }

    .footerPolicyLinks {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        gap: 1rem;

        @media (width >=768px) {
            justify-content: flex-end;
        }

        a {
            color: rgba(var(--primaryAltRgb), 0.8);
            transition: var(--ease);

            &::after {
                content: "|";
                margin-left: 1rem;
                color: rgba(var(--primaryAltRgb), 0.2);
            }

            &:last-child {
                &::after {
                    content: unset;
                }
            }

            &:hover {
                color: var(--primaryAlt);
            }
        }
    }
}